<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voomantics.sociorail">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/play_store_icon_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/play_store_icon_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".AccountActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8571460955599757~3876719616" />

        <service android:name=".FetchAddressIntentService" />

        <activity android:name=".RedeemTokenActivity" />
        <activity android:name=".PairOption" />
        <activity
            android:name=".RequestsActivity"
            android:parentActivityName=".UsersActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".PairActivity" />
        <activity
            android:name=".UsersActivity"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".OffersActivity"
            android:parentActivityName=".OfferCategoryActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".OfferCategoryActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>